*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: aquamarine;
    text-align: center;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game {
    height: 60vmin;
    width: 70vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap : 2.5vmin;
}
.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0.1);
    font-size: 8vmin;
    color: brown;
    background-color: #ffffc7;
}
#reset-btn {
    height: 40px;
    width: 100px;
    border-radius: 1rem;
    border: none;
    color: white;
    background-color: black;
}

#new-game {
    height: 40px;
    width: 100px;
    border-radius: 1rem;
    border: none;
    color: white;
    background-color: black;
}
#msg {
    color: #ff0000;
    font-size: 8vmin;
}
.msg-container {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: 15vmin;
    /* flex-wrap: wrap; */
} 
.hide {
    display: none;
}

.zoom {
    transform: scale(1.07);
}

.color {
    background-color: #e2e2d1;
}
